.reorder-confirmation {
    margin: auto;
    margin-top: 20%;
}

.product-tile .swatch-circle {
    width: 1.8em;
    height: 1.8em;
    background: #fff;
    border-radius: 0.9em;
    border: 0.063em solid rgba(0,0,0,.3);
    display: inline-block;
    margin-right: 0.313em;
    position: relative;
}
